.layout-default {
    &__header {
        background-color: #18DCFE;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // padding: 20px 20px;
     
    }

    &__main {
        padding: 20px;
       
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ddd;
    }

    &__footer {
        background-color: #18DCFE;
        padding: 20px;
        text-align: center;
        color: white;
    }
    &__login, &__logout, &__register{
        text-decoration: none;
        margin-left: 10px;
        background-color: white;
        border-radius: 3px;
        font-size: 15px;
        padding: 4px;
    }
    &__img{
        width: 100px;
        height: 60px;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__quizz{
        font-size: 30px;
        font-weight: 700;
        color: white;
    }
    &__back{
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

}

    .menu {
        &__home, &__topic, &__answer{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;


            li  {
                margin-right: 50px;
                list-style-type: none;
                padding: 10px 10px;
                &:hover {
                    background-color: rgb(42, 147, 165);
                    
                }
            }
           
        }

        &__link {
            text-decoration: none;
            color: black;

            &--active {
                color: white;
            }
        }
    }




